@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.input-error {
  border-color: #fc8181;
}

.disabled {
  opacity: 0.35;
}
